textarea {
    background: 0 0;
    border: 1px solid var(--code-bg-color);
    width: 100%;
    height: 500px;
    color: var(--font-color);
    resize: none;

    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    font-family: var(--font-stack);
}

.btn-submit {
    background: 0 0;
    outline: none;
    margin: 10px 0 10px 0;

    width: 100px;
    height: 35px;

    font-size: var(--global-font-size);
    font-family: var(--font-stack);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

    transition: all .2s ease-in-out;
}

.btn-submit:hover {
    background: var(--primary-color);
    color: var(--background-color);
}

hr {
    border: 2px dashed var(--secondary-color);
    border-style: none none dashed; 
}